@font-face {
  font-family: "IranSans";
  src:  url("~/assets/fonts/IRANSansWeb.eot");
  src:  url('~/assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), 
        url("~/assets/fonts/IRANSansWeb.woff2") format("woff2"),
        url("~/assets/fonts/IRANSansWeb.woff") format("woff"),
        url("~/assets/fonts/IRANSansWeb.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IranSans";
  src:  url("~/assets/fonts/IRANSansWeb_Bold.eot");
  src:  url('~/assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), 
        url("~/assets/fonts/IRANSansWeb_Bold.woff2") format("woff2"),
        url("~/assets/fonts/IRANSansWeb_Bold.woff") format("woff"),
        url("~/assets/fonts/IRANSansWeb_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}